#########################################################
# Visual Studio
#########################################################

.vs/
**/.vs/

#########################################################
# .NET
#########################################################

**/bin/
**/obj/

#########################################################
# Node
#########################################################

**/node_modules/

frontend/dist/

#########################################################
# Logs
#########################################################

*.log

#########################################################
# User Files
#########################################################

*.user
*.suo

#########################################################
# Environment
#########################################################

.env

#########################################################
# OS Files
#########################################################

Thumbs.db
.DS_Store

#########################################################
# Vite
#########################################################

frontend/.vite/

#########################################################
# Rider / VSCode
#########################################################

.vscode/
.idea/